*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
/* remove css defaults */
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
/* design counter app box*/
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid blue;
    padding: 20px;
    box-shadow: 0 0 50px black ;
    gap: 20px;
    border-radius: 20px;
}
/* design buttons */
button{
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
}
#value{
    border: 1px solid black;
    font-size: 20px;
    /* font-weight: bold; */
    padding: 5px 20px;
}